*{
    box-sizing: border-box;
}
body{
    margin: 0
}
a{
    text-decoration: none;
}
.clear{
    clear:left
}
.Photograph-wrapper{
    background-size: cover;
    width: 100%;
    hight: 800px;
}
.video-wrappper{
    display: inline-block;
}
.icon img{
    float: right;
    width: 800px;
    height: 800px;
}
